.navbar {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 210px;
	background-color: #000000;
	overflow-x: hidden;
	margin-bottom: 0;
	vertical-align: middle;
	display: grid;
    	align-items: center;
	grid-template-rows: 240px 45px 45px 40px 25px 25px 25px 40px;
	user-select: none;
}
.navbar a {
	padding: 0;
	text-decoration: none;
	font-size: 13px;
	font-family: 'Roboto';
	color: #fff;
	display: block;
	user-select: none;
}
.navbar a:hover:not(.active) {
	color: #FFF;
}
.navbar .active {
	color: #FFF;
}
