/* Container holding the image and text */
	.container {
		position: relative;
		text-align: center;
		color: white;
	}
	/* Centered text */
	.centered {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-family: 'Arial';
		font-size: 40px;
		color: #FFF;
		font-style: italic;
	}