#main {
	transition: margin-left .5s;
	z-index: 0;
	margin-left: 50px;
	margin-bottom: 20px;
	text-align: justify;
	text-justify: inter-word;
	word-wrap: break-word;
	line-height: normal;
	font-size: 18px;
	color: #000000;
}
.textbox {
	border: 1px #ffeb99;
	border-radius: 25px;
	padding: 30px;
	background-color: #fffae6;
	margin-right: 30px;
}
#column {
	column-span: all;
	font-family: 'Arial';
	font-size: 18px;
	color: rgb(1,33,65,1.0);
	background-color: #fffae6;
}	
#unorderedlist {
	list-style-type: lower-alpha;
	text-indent: 30px;
	column-count: 2;
	column-gap: 40px;
	font-size: 18px;
	color: rgb(1,33,65,1.0);
	background-color: #fffae6;
}
#main ul {
	list-style-type: lower-alpha;
	text-indent: 30px;
	font-size: 18px;
	color: rgb(1,33,65,1.0);
	background-color: #fffae6;
}
#main h1 {
	color: rgb(27,0,72,1.0);
	font-family: "Product Sans", serif;
	font-size: 40px;
}
#main h2 {
	color: rgb(1,33,65,1.0);
	font-family: 'Arial';
	font-size: 24px;
	background-color: #fffae6;
	border-bottom-style: solid;
	border-color: #ffeb99;
	column-span: all;
	padding: 10px;
}